<div class="container center">
  <div class="col-md-3 col-md-offset-3">
<h1>Log in</h1><br/>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p> <%= f.text_field :login, {:class => "form-control",:placeholder => "With username or email",:required => true, :autofocus => true} %>
    </p> 
    
    <p> <%= f.password_field :password, {:class => "form-control",:placeholder => "Password",:required => true,autocomplete: "off"} %>
    </p> 
    <br/>
    <%= f.submit("Log In",:class => "btn btn-primary") %><%= link_to "Sign Up", "/users/sign_up",:class =>"btn btn-primary" %></br>

  <% end %>

    </div>
<div class= "col-sm-3 col-md-offset-1">
  <h3>There are other ways too</h1>
  <%= link_to image_tag("google.png", {:border => 0, :width => '100%'}),
     user_omniauth_authorize_path(:google_oauth2) %></br><p>or</p>
  <%= link_to image_tag("fb.png", {:border => 0, :width => '96%'}), user_omniauth_authorize_path(:facebook)  %></br></br>
  <%= link_to "Sign in with Google using OpenID", user_omniauth_authorize_path(:openid, :openid_url => "https://www.google.com/accounts/o8/id") %></br>

</div>
</div>